In [221]:
import pandas as pd
import numpy as np

In [222]:
binomial12 = pd.read_csv('Binomial12.csv')
binomial12 # our given csv file in dataframe format

        Binomial    Normal   Uniform
0      Var(0.81)       NaN       NaN
1            NaN       NaN       NaN
2              1  4.893970  0.240590
3              3  3.336121  0.435230
4              1  4.198203  0.000216
5              2  2.672232  0.228450
6              0  3.647284  0.217875
7              1  5.070340  0.358922
8              1  2.340796  0.081724
9              2  5.280290  0.217562
10             1  4.470832  0.282357
11             2  4.730689  0.132826
12             1  1.614647  0.086020
13             2  3.774986  0.409458
14             1  3.208011  0.391958
15             1  3.320630  0.026189
16             0  4.698015  0.305873
17             1  4.900796  0.081845
18             2  2.524872  0.407854
19             1  3.955167  0.136458
20             0  3.998195  0.262254
21             1  4.679061  0.203741
22             2  3.954032  0.041512
23             1  4.062881  0.297204
24             3  4.021691  0.441715
25             1  3.637872  0.190010
26             1  4.872625  0.197653
27             1  4.679092  0.254565
28             0  4.175598  0.187782
29             1  4.849039  0.317504
...          ...       ...       ...
9972         NaN  3.280304       NaN
9973         NaN  4.481023       NaN
9974         NaN  2.447752       NaN
9975         NaN  4.857961       NaN
9976         NaN  3.453760       NaN
9977         NaN  2.997729       NaN
9978         NaN  3.664045       NaN
9979         NaN  4.558292       NaN
9980         NaN  4.801792       NaN
9981         NaN  4.496062       NaN
9982         NaN  4.004283       NaN
9983         NaN  3.700128       NaN
9984         NaN  3.916729       NaN
9985         NaN  3.109487       NaN
9986         NaN  4.811242       NaN
9987         NaN  4.047702       NaN
9988         NaN  4.224099       NaN
9989         NaN  3.506291       NaN
9990         NaN  2.126087       NaN
9991         NaN  4.498276       NaN
9992         NaN  3.949437       NaN
9993         NaN  3.774897       NaN
9994         NaN  4.757631       NaN
9995         NaN  4.109440       NaN
9996         NaN  4.273116       NaN
9997         NaN  3.678792       NaN
9998         NaN  4.072610       NaN
9999         NaN  4.401702       NaN
10000        NaN  4.315942       NaN
10001        NaN  4.127866       NaN

[10002 rows x 3 columns]

In [223]:
binomial_variance = .81
Binomial = binomial12['Binomial'] # Separate the distributions into their own 
Normal = binomial12['Normal']     # appropriately named dataframes
Uniform = binomial12['Uniform']

In [224]:
last_val = 0
# here we find the first value that is NaN in order to make a nice 
# dataframe to work with
for i in range(2, Binomial.size): 
    if pd.isnull(Binomial).values[i]:
        last_val = i
        break
last_val

1202

In [225]:
Binomial = Binomial[2:last_val]
# Binomial

In [226]:
Binomial = pd.DataFrame(data = Binomial.values, columns = ['Binomial']) 
# fix the indeces to start at 0 rather than 4

In [230]:
Binomial['Binomial']

0       1
1       3
2       1
3       2
4       0
5       1
6       1
7       2
8       1
9       2
10      1
11      2
12      1
13      1
14      0
15      1
16      2
17      1
18      0
19      1
20      2
21      1
22      3
23      1
24      1
25      1
26      0
27      1
28      2
29      1
       ..
1170    1
1171    0
1172    1
1173    1
1174    1
1175    2
1176    2
1177    0
1178    1
1179    2
1180    0
1181    2
1182    0
1183    0
1184    0
1185    0
1186    0
1187    1
1188    1
1189    2
1190    1
1191    1
1192    0
1193    1
1194    0
1195    2
1196    2
1197    1
1198    1
1199    1
Name: Binomial, Length: 1200, dtype: object